<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>책 추천 사이트</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
<body>
    <h1>책 추천</h1>
    <form method="POST">
        <label>중위 장르 선택:</label>
        <select name="mid_genre">
            {% for gen in mid_genres %}
                <option value="{{ gen }}">{{ gen }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="장르별 책 둘러보기">
    </form>
</body>
</html>
